<p class="text-center" id="notice"><strong><%= notice %></strong></p>
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-4">
			<%= render 'breadcrumb' %>
		</div>
		<div class="col-sm-12">
			<h1 class="text-center"><%= @lesson.title %></h1>
		</div>
	</div>
	<div class="row">

		<div class="col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
		    <%= render 'sidebar' %>
		</div>

		<div class="col-sm-9">
			<%= raw @lesson.body %>
		</div>

		</div>

</div>



